{% set minio_host = infisical_runtime_minio_host | default('minio') %}
{% set minio_port = infisical_runtime_minio_port | default('9000') %}
{% set minio_endpoint = infisical_runtime_minio_endpoint | default('http://' ~ minio_host ~ ':' ~ minio_port) %}
{% set mlflow_tracking_uri = infisical_runtime_mlflow_tracking_uri | default('http://mlflow-server:5000') %}
{% set profiles = [
  {
    'path': '/workloads/data-ingestion',
    'account': 'data_ingestion',
    'extra': {}
  },
  {
    'path': '/workloads/data-enrichment',
    'account': 'data_enrichment',
    'extra': {}
  },
  {
    'path': '/workloads/data-preprocessing',
    'account': 'data_preprocessing',
    'extra': {}
  },
  {
    'path': '/workloads/training',
    'account': 'training',
    'extra': {
      'MLFLOW_TRACKING_URI': mlflow_tracking_uri,
      'MLFLOW_S3_ENDPOINT_URL': minio_endpoint
    }
  },
  {
    'path': '/services/mlflow',
    'account': 'mlflow_server',
    'extra': {
      'MLFLOW_S3_ENDPOINT_URL': minio_endpoint
    }
  },
  {
    'path': '/workloads/model-evaluation',
    'account': 'model_evaluation',
    'extra': {
      'MLFLOW_TRACKING_URI': mlflow_tracking_uri,
      'MLFLOW_S3_ENDPOINT_URL': minio_endpoint
    }
  },
  {
    'path': '/workloads/model-build',
    'account': 'model_build',
    'extra': {
      'MLFLOW_TRACKING_URI': mlflow_tracking_uri,
      'MLFLOW_S3_ENDPOINT_URL': minio_endpoint
    }
  },
  {
    'path': '/workloads/backup',
    'account': 'backup',
    'extra': {}
  }
] %}
{% for profile in profiles %}
{% set account = (minio_service_accounts | default({})).get(profile.account, {}) %}
{% if account.access_key is defined and account.secret_key is defined %}
- path: {{ profile.path | to_json }}
  key: "MINIO_HOST"
  value: {{ minio_host | string | to_json }}
- path: {{ profile.path | to_json }}
  key: "MINIO_PORT"
  value: {{ minio_port | string | to_json }}
- path: {{ profile.path | to_json }}
  key: "MLFLOW_S3_ENDPOINT_URL"
  value: {{ minio_endpoint | string | to_json }}
- path: {{ profile.path | to_json }}
  key: "MINIO_ACCESS_KEY"
  value: {{ account.access_key | string | to_json }}
- path: {{ profile.path | to_json }}
  key: "MINIO_SECRET_KEY"
  value: {{ account.secret_key | string | to_json }}
- path: {{ profile.path | to_json }}
  key: "AWS_ACCESS_KEY_ID"
  value: {{ account.access_key | string | to_json }}
- path: {{ profile.path | to_json }}
  key: "AWS_SECRET_ACCESS_KEY"
  value: {{ account.secret_key | string | to_json }}
{% if profile.path == '/services/mlflow' %}
- path: {{ profile.path | to_json }}
  key: "MLFLOW_S3_ACCESS_KEY"
  value: {{ account.access_key | string | to_json }}
- path: {{ profile.path | to_json }}
  key: "MLFLOW_S3_SECRET_KEY"
  value: {{ account.secret_key | string | to_json }}
{% endif %}
{% for key, value in profile.extra.items() %}
- path: {{ profile.path | to_json }}
  key: {{ key | to_json }}
  value: {{ value | string | to_json }}
{% endfor %}
{% endif %}
{% endfor %}
{% if postgres.mlflow.user is defined and postgres.mlflow.password is defined %}
- path: "/workloads/postgres-backup"
  key: "POSTGRES_DUMP_USER"
  value: {{ postgres.mlflow.user | string | to_json }}
- path: "/workloads/postgres-backup"
  key: "POSTGRES_DUMP_PASSWORD"
  value: {{ postgres.mlflow.password | string | to_json }}
{% endif %}
{% if dagshub.user is defined %}
- path: "/workloads/dvc-publisher"
  key: "DAGSHUB_USER"
  value: {{ dagshub.user | string | to_json }}
{% endif %}
{% if dagshub.password is defined %}
- path: "/workloads/dvc-publisher"
  key: "DAGSHUB_PASSWORD"
  value: {{ dagshub.password | string | to_json }}
{% endif %}
