INFISICAL_DOMAIN={{ infisical.site_url }}
INFISICAL_ENV={{ infisical.bootstrap.environment_slug }}
INFISICAL_PROJECT_ID={{ infisical_project_id }}
INFISICAL_DEPLOY_ID_CLIENT_ID={{ infisical_terraform_output_data.terraform_identity_universal_auth.value.client_id }}
INFISICAL_DEPLOY_ID_CLIENT_SECRET={{ infisical_terraform_output_data.terraform_identity_universal_auth.value.client_secret }}
