[defaults]
inventory = infra/ansible/inventory/hosts.ini
roles_path = roles
vault_password_file = ~/.config/rakuten/ansible/.vault_pass
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
interpreter_python = auto_silent

[inventory]
enable_plugins = ini, yaml

[privilege_escalation]
become_ask_pass = True