{% set known_keys = ['postgres', 'minio', 'minio_service_accounts', 'mlflow', 'airflow', 'jenkins', 'github_app', 'dagshub', 'docker_hub', 'infisical'] %}
{% if vault_content.postgres is defined %}
postgres:
{{ vault_content.postgres | to_nice_yaml(indent=2, sort_keys=false) | indent(2, true) }}
{% endif %}
{% if vault_content.minio is defined %}
minio:
{{ vault_content.minio | to_nice_yaml(indent=2, sort_keys=false) | indent(2, true) }}
{% endif %}
{% if vault_content.minio_service_accounts is defined %}
minio_service_accounts:
{{ vault_content.minio_service_accounts | to_nice_yaml(indent=2, sort_keys=false) | indent(2, true) }}
{% endif %}
{% if vault_content.mlflow is defined %}
mlflow:
{{ vault_content.mlflow | to_nice_yaml(indent=2, sort_keys=false) | indent(2, true) }}
{% endif %}
{% if vault_content.airflow is defined %}
airflow:
{{ vault_content.airflow | to_nice_yaml(indent=2, sort_keys=false) | indent(2, true) }}
{% endif %}
{% if vault_content.jenkins is defined %}
jenkins:
{{ vault_content.jenkins | to_nice_yaml(indent=2, sort_keys=false) | indent(2, true) }}
{% endif %}
{% if vault_content.github_app is defined %}
github_app:
{% for item in vault_content.github_app | dict2items if item.key != 'private_key' %}
  {{ item.key }}: {{ item.value | to_json }}
{% endfor %}
{% if vault_content.github_app.private_key is defined and vault_content.github_app.private_key | length > 0 %}
  private_key: |
{{ vault_content.github_app.private_key | trim | indent(4, true) }}
{% else %}
  private_key: ""
{% endif %}
{% endif %}
{% if vault_content.dagshub is defined %}
dagshub:
{{ vault_content.dagshub | to_nice_yaml(indent=2, sort_keys=false) | indent(2, true) }}
{% endif %}
{% if vault_content.docker_hub is defined %}
docker_hub:
{{ vault_content.docker_hub | to_nice_yaml(indent=2, sort_keys=false) | indent(2, true) }}
{% endif %}
{% if vault_content.infisical is defined %}
infisical:
{{ vault_content.infisical | to_nice_yaml(indent=2, sort_keys=false) | indent(2, true) }}
{% endif %}
{% for item in vault_content | dict2items if item.key not in known_keys %}
{{ {item.key: item.value} | to_nice_yaml(indent=2, sort_keys=false) }}
{% endfor %}
